.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
src/**
.github/**
*.vsix
.editorconfig
webpack.config.js
.eslintrc.js
.prettierrc
.prettierignore
*.md
!README.md
!CHANGELOG.md
package-lock.json
yarn.lock
images/screenshots/**
docs/**
examples/**
.vscode-test-web/**